language: android

jdk:
 - oraclejdk7
 - oraclejdk8

android:
  components:
    - build-tools-21.1.1
    - android-21
    - extra-android-m2repository
  licenses:
    - android-sdk-license-5be876d5

notifications:
  email: false
