<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
  <!-- Used for sharing logs and Spoon. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- Used for instrumentation tests. -->
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application>
    <activity
        android:name="com.jakewharton.u2020.ui.DebugActivity"
        android:label="U+2020 Dev Settings"
        android:launchMode="singleTask"
        android:theme="@style/Theme.U2020.Debug"
        android:screenOrientation="portrait"
        android:icon="@drawable/dev_app_icon"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.jakewharton.u2020.ui.ExternalIntentActivity"
        android:theme="@style/Theme.U2020.External"
        >
      <intent-filter>
        <action android:name="com.jakewharton.u2020.intent.EXTERNAL_INTENT"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
        android:enabled="false"
        android:label="@string/__leak_canary_display_activity_label"
        android:taskAffinity="com.squareup.leakcanary"
        android:theme="@style/__LeakCanary.Base"
        >
      <intent-filter tools:node="removeAll"/>
    </activity>
  </application>
</manifest>
